.btn {
  /*margin: 0; уже есть в файле base*/
  padding: 10px;
  /*display: inline-block; block do it*/
  line-height: 10px;
  box-sizing: content-box;/*must have*/
  background-color: red;
}
.btn:hover {
  background-color: blue;
}
.button {
  background: #000;
}
.btn-default {
  background-color: #fff;
  /*border-color: #000; in .btn-warning*/
  color: #000;
}
.btn-warning {
  border-color: orange;
  color: orange;
  /*border-color: #000; white*/
}
.btn-success {
  color: green;
  border-color: green;
}
/*input[type="button"].btn {
  margin: 0;
  padding: 10px;
  display: block;
  line-height: 10px;
}*/
